@import '../../variables.scss';

.app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 6rem;
  background-color: $primary-color;
  z-index: 2;

  .header-top-bar {
    position: fixed;
    top: 1.6rem;
    left: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: calc(100vw);

    .header-title {
      color: rgb(250, 255, 250);
      font-size: 2rem;
      font-weight: 300;
      margin: 0.3rem 0 0 3.2rem;
      line-height: 2rem;
    }

    .menu-button-container {
      @include centered-v;
      transition: 0.5s all ease;
      z-index: 10;

      .menu-bar {
        height: 0.35rem;
        width: 2.8rem;
        margin: 0 0 6px 0;
        background-color: rgb(250, 255, 250);
        border-radius: 1.5rem;
        transition: 0.5s all ease;
      }

      .menu-bar:last-child {
        margin: 0;
      }

      .menu-bar.open:first-child {
        transform: rotate(45deg);
        margin: 0 0 -1.3rem 0;
        width: 3rem;
      }

      .menu-bar.open:nth-child(2) {
        opacity: 0;
      }

      .menu-bar.open:last-child {
        transform: rotate(-45deg);
        margin: 0 0 0 0;
        width: 3rem;
      }
    }

    .menu-button-container.open {
      margin: 7.5px 0 0 -0.3rem;
    }
  }

  .drop-down-nav {
    position: fixed;
    top: 1.7rem;
    right: -100%;
    color: rgb(250, 255, 250);
    transition: 5s right ease-out;
    
    ul {
      list-style: none;

      li {
        padding: 0 1.6rem 0 1.6rem;
        border-left: 1px rgb(250, 255, 250) solid;
        cursor: pointer;
      }

      li:first-child {
        border: none;
      }
    }
  }

  .drop-down-nav.open {
    right: 0.6rem;
  }
}

