@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Indie+Flower&family=Permanent+Marker&family=Quicksand&family=Shadows+Into+Light&display=swap');

@mixin font-amatic {
  font-family: 'Amatic SC', cursive;
}
@mixin font-indie-flower {
  font-family: 'Indie Flower', cursive;
}
@mixin font-marker {
  font-family: 'Permanent Marker', cursive;
}
@mixin font-shadow-into-light {
  font-family: 'Shadows Into Light', cursive;
}

$highlighter-blue: rgba(84, 205, 242, 0.3);
$highlighter-green: rgba(50, 250, 0, 0.3);
$highlighter-yellow: rgba(250, 250, 0, 0.3);
$pen-red: rgba(255, 50, 75, 0.85);
$pencil-extra-light: rgba(50, 50, 50, 0.35);
$pencil-light: rgba(50, 50, 50, 0.65);
$pencil-medium: rgba(50, 50, 50, 0.85);
$pencil-dark: rgba(50, 50, 50, 0.95);

$pink-stickynote: rgb(241, 126, 176);
$yellow-stickynote: rgb(248, 229, 58);
$green-stickynote: rgb(175, 247, 42);
$orange-stickynote: rgb(252, 183, 18);
$blue-stickynote: rgb(84, 205, 242);

$header-height: calc(10vh);

@mixin phone-only {
  @media (max-width: 599px) { @content };
}

@mixin tablet-portrait-up {
  @media (min-width: 600px) { @content };
}

@mixin tablet-landscape-up {
  @media (min-width: 1115px) { @content };
}

@mixin tablet-landscape-down {
  @media (max-width: 1115px) { @content };
}

@mixin small-monitor-up {
  @media (min-width: 1200px) { @content };
}

@mixin large-monitor-up {
  @media (min-width: 1800px) { @content };
}

@mixin level-one {
  z-index: 1;
}

@mixin centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin centered-h {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

@mixin centered-v {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@mixin center-spaced-h {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}

@mixin center-spaced-v {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

@mixin fullscreen {
  min-width: 100vw;
  min-height: 100vh;
}

@mixin app-grid {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: grid;
  grid-template-columns: $header-height 1fr;
  grid-template-rows: $header-height 1fr;

  @include tablet-landscape-down {
    grid-template-rows: $header-height 1fr 8vh;
  }
}

@mixin main-placement {
  grid-column: 2;
  grid-row: 2;
  @include center-spaced-v;
}

@mixin no-scroll-bar() {
  &::-webkit-scrollbar {
    height: 0;
    width: 0;
  }

  &::-webkit-scrollbar-thumb {
    height: 0;
    width: 0;
  }

  &::-webkit-scrollbar-track {
    height: 0;
    width: 0;
  }
}

@mixin thin-scroll-bar() {
  &::-webkit-scrollbar {
    height: 50%;
  }

  &::-webkit-scrollbar-thumb {
    height: 0.5rem;
    width: 0.5rem;
    background-color: $pencil-extra-light;
    border-radius: 5rem;
  }

  &::-webkit-scrollbar-track {
    height: 50%;
    background-color: rgba(0, 100, 255, 0.25);
    border-radius: 5rem;
  }
}

@mixin card-style ($cardHeight, $cardWidth) {
  width: $cardHeight;
  height: $cardWidth;
  font-size: 2rem;
  font-weight: 900;
  box-shadow: $pencil-extra-light 0.3rem 0.3rem 0.3rem;
  transition: all 1s ease;
}