@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Indie+Flower&family=Permanent+Marker&family=Quicksand&family=Shadows+Into+Light&display=swap');

@mixin font-amatic {
  font-family: 'Amatic SC', cursive;
}
@mixin font-indie-flower {
  font-family: 'Indie Flower', cursive;
}
@mixin font-marker {
  font-family: 'Permanent Marker', cursive;
}
@mixin font-shadow-into-light {
  font-family: 'Shadows Into Light', cursive;
}

$highlighter-green: rgba(50, 250, 0, 0.3);
$highlighter-yellow: rgba(250, 250, 0, 0.3);
$pen-red: rgba(255, 50, 75, 0.85);
$pencil-light: rgba(50, 50, 50, 0.65);
$pencil-medium: rgba(50, 50, 50, 0.85);
$pencil-dark: rgba(50, 50, 50, 0.95);
$stickynote-yellow: rgb(235, 245, 0);

@mixin level-one {
  z-index: 1;
}

@mixin centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin centered-h {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
@mixin centered-v {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@mixin center-spaced-h {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}
@mixin center-spaced-v {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
@mixin fullscreen {
  width: 100vw;
  min-height: 100vh;
}

@mixin app-grid {
  z-index: 1;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: grid;
  grid-template-columns: calc(10vh) 1fr;
  grid-template-rows: 13.5vh 1fr;
}
@mixin header-placement {
  grid-column: 1/3;
  grid-row: 1;
  @include center-spaced-h;
  display: grid;
  grid-template-columns: calc(10vh) 1fr;
}
@mixin main-placement {
  grid-column: 2;
  grid-row: 2;
  @include center-spaced-v;
}