@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@mixin font {
  font-family: 'Roboto', sans-serif;
}

@mixin centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin centered-h {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

@mixin centered-v {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@mixin fullscreen {
  width: 100vw;
  min-height: 100vh;
}

$primary-color: rgb(0, 100, 100);
$secondary-color: rgb(230, 250, 225);