@import '../../../variables.scss';

.user-dashboard {
	@include centered-v;

	section {
		@include centered-h;

		p {
			font-size: 3rem;
			@include font-satisfy;
		}

		.card-icon {
			height: 5.5rem;
			margin-right: 2rem;
		}
	}
}