@import '../../variables.scss';

.auth-form {
	position: relative;
	margin: 40px auto;
	border-radius: 2px;
	@include centered-v;
	height: calc(60vw);
	width: 60vw;
	max-height: 500px;
	max-width: 500px;
	min-height: 250px;
	min-width: 250px;
	background-color: cornflowerblue;
	box-shadow: inset 1px 1px 15px rgba(0, 0, 0, 0.05);
	@include font-roboto;
	font-size: 100%;
	transition: all .3s ease-in-out;

	input {
		background: none;
		border: none;
		color: black;
	}

	input::placeholder {
		color: black;
	}
}

.auth-form:hover {
	box-shadow: inset 1px 1px 15px rgba(0, 0, 0, 0);
}

.auth-form::before,
.auth-form::after {
	content: '';
	position: absolute;
	bottom: 10px;
	width: 40%;
	height: 10px;
	box-shadow: 0 5px 14px rgba(0, 0, 0, 0.7);
	z-index: -1;
	transition: all .3s ease-in-out;
}

.auth-form::before {
  left: 15px;
  transform: skew(-5deg) rotate(-5deg);
}

.auth-form::after {
  right: 15px;
  transform: skew(5deg) rotate(5deg);
}

.auth-form:hover::before {
  left: 5px;
}

.auth-form:hover::after {
  right: 5px;
}