@import '../../../variables.scss';

.auth-form {
	@include centered-v;
	flex-wrap: wrap;
	
	h2 {
		font-size: 2.75rem;
		text-align: center;
		@include font-shadow-into-light;

		@include tablet-portrait-down {
			font-size: 2.25rem;
			margin: 1.75rem 0 1.5rem 0;
		}
	}

	.fake-input {
		display: none;
	}

	input:-webkit-autofill,
	input:-webkit-autofill:hover, 
	input:-webkit-autofill:focus,
	input:-internal-autofill-selected,
	input {
		@include input-style;
		width: 50vw;
		max-width: 45rem;
	}

	.auth-button {
		@include submit-button;
	}

	.password-confirm-error,
	.auth-error-message {
		color: $pen-red;
		font-size: 2.5rem;
		font-weight: 900;
		@include font-amatic;
		margin-bottom: 1rem;

		@include tablet-portrait-down {
			font-size: 1.5rem;
			margin-bottom: 0.25rem;
		}
	}

	.new-user-toggle {
		font-size: 2rem;
		@include font-indie-flower;
		cursor: pointer;

		@include tablet-portrait-down {
			font-size: 1.75rem;
		}
	}
}
