@import '../../../variables.scss';

.card {
	position: relative;
	perspective: 50rem;
	margin: 1.5rem 0 0 0;

	@include tablet-landscape-down {
		margin: 0 0 1rem 0;
	}

	.card-control-panel {
		display: flex;
		justify-content: flex-end;
		position: absolute;
		top: 0;
		right: 2rem;
		width: 100%;
		
		.card-control-icon {
			height: 1.5rem;
			margin-left: 1rem;
			cursor: pointer;
			display: none;
		}

		.card-alert-icon {
			position: absolute;
			left: 1.5rem;
			top: 0.25rem;
			height: 3rem;
			z-index: 2;
			margin-left: 1rem;
			transform: rotate(-45deg);
		}
	}

	.card-content {
		transition: transform 1s;
		transform-style: preserve-3d;

		.card-front,
		.card-back {
			position: relative;
			@include centered-h;
			display: grid;
			grid-template-columns: 3rem 1fr 3rem;
			grid-template-rows: 1fr 4rem;
			@include card-style (calc(40vh), calc(40vh));
			backface-visibility: hidden;
			cursor: pointer;
			margin: 2rem;
			
			p {
				grid-column: 1/4;
				grid-row: 1;
				padding: 3rem 2rem 0 2rem;
				font-size: 100%;
				text-align: center;
				word-break: break-word;
			}

			@include phone-only {
				@include card-style(calc(35vh), calc(35vh));
			}

			.attempt-icon {
				grid-row: 2;
				height: 3rem;
				opacity: 20%;
				transition: 0.5s all ease;
			}

			.attempt-icon.success {
				grid-column: 3;
				margin: 0 0 1rem -0.75rem;
			}

			.attempt-icon.failure {
				grid-column: 1;
				margin: 0 0 1rem 1rem;
			}

			.attempt-icon:hover {
				opacity: 100%;
			}

			.card-attempts {
				grid-column: 2;
				grid-row: 2;
				height: 4rem;
				@include centered-h;
				margin: 0 auto 0 auto;
				transition: all ease 0.25s;

				p {
					margin-top: -6rem;
					width: 8rem;
					font-size: 1.5rem;
					color: white;
					text-shadow: $pencil-dark 1px 1px 2px;
				}

				.attempt-bar {
					margin-top: -3rem;
					@include centered-h;
					width: 100%;

					.attempt-block {
						width: 1rem;
						height: 1rem;
						border: 1px solid white;
						border-radius: 100%;
						margin: 0 0.1rem 0 0.1rem;
					}
				}
			}
		}

		.card-front {
			border-radius: 3rem 0 3rem 0;
		}

		.card-back {
			position: relative;
			transform: rotateY(180deg);
			margin: calc(-100% + 2rem) 0 0 2rem;
			border-radius: 0 3rem 0 3rem;
		}
	}
}

.card.flipped {
	.card-content {
		transform: rotateY(-180deg);
		transition: transform 0.5s;
	}
}

.card:nth-child(1n) {
	.card-back,
	.card-front {
		background-color: $blue-stickynote;
	}
}

.card:nth-child(2n) {
	.card-back,
	.card-front {
		background-color: $green-stickynote;
	}
}

.card:nth-child(3n) {
	.card-back,
	.card-front {
		background-color: $yellow-stickynote;
	}
}

.card:nth-child(4n) {
	.card-back,
	.card-front {
		background-color: $orange-stickynote;
	}
}

.card:nth-child(5n) {
	.card-back,
	.card-front {
		background-color: $pink-stickynote;
	}
}

.card:hover {
	.card-control-panel {
		.card-control-icon {
			display: inline-block;
		}

		.card-control-icon:hover {
			filter: drop-shadow($pencil-light 0 0 0.1rem);
		}
	}
}