@import './colors.scss';

@mixin card-style ($cardHeight, $cardWidth) {
  width: $cardHeight;
  height: $cardWidth;
  font-size: 2rem;
  font-weight: 900;
  box-shadow: $pencil-extra-light 0.3rem 0.3rem 0.3rem;
  transition: all 1s ease;
}
