@import '../../variables.scss';

.card {
	position: relative;
	perspective: 50rem;
	margin: 0 0 0 0;

	@include tablet-landscape-down {
		margin: 0 0 1rem 0;
	}

	.card-control-panel {
		position: absolute;
		top: 0;
		right: 2rem;
		display: none;

		.card-control-icon {
			height: 1.5rem;
			margin-left: 1rem;
			cursor: pointer;
		}
	}

	.card-content {
		transition: transform 1s;
		transform-style: preserve-3d;

		.card-front,
		.card-back {
			@include centered-h;
			@include card-style (calc(30vh), calc(30vh));
			backface-visibility: hidden;
			cursor: pointer;
			margin: 2rem;
			padding: 2rem;
			text-align: center;
			word-break: break-word;

			@include phone-only {
				@include card-style(calc(35vh), calc(35vh));
			}
		}

		.card-front {
			border-radius: 3rem 0 3rem 0;
		}

		.card-back {
			position: relative;
			transform: rotateY(180deg);
			margin: calc(-100% + 2rem) 0 0 2rem;
			border-radius: 0 3rem 0 3rem;

			.attempt-panel {
				position: absolute;
				bottom: 1rem;
				left: 1.5rem;
				right: 1rem;
				@include centered-h;
				justify-content: space-between;

				.attempt-icon {
					height: 3rem;
					opacity: 20%;
					transition: 0.5s all ease;
				}

				.attempt-icon:hover {
					opacity: 100%;
				}

				.card-attempts {
					font-size: 2.5rem;
					color: white;
					text-shadow: $pencil-dark 1px 1px 2px;
				}
			}
		}
	}
}

.card.flipped {
	.card-content {
		transform: rotateY(-180deg);
		transition: transform 0.5s;
	}
}

.card:nth-child(1n) {
	.card-back,
	.card-front {
		background-color: $blue-stickynote;
	}
}

.card:nth-child(2n) {
	.card-back,
	.card-front {
		background-color: $green-stickynote;
	}
}

.card:nth-child(3n) {
	.card-back,
	.card-front {
		background-color: $yellow-stickynote;
	}
}

.card:nth-child(4n) {
	.card-back,
	.card-front {
		background-color: $orange-stickynote;
	}
}

.card:nth-child(5n) {
	.card-back,
	.card-front {
		background-color: $pink-stickynote;
	}
}

.card:hover {
	.card-control-panel {
		display: inline-block;

		.card-control-icon:hover {
			filter: drop-shadow($pencil-light 0 0 0.1rem);
		}
	}
}