@import '../../variables.scss';

.card {
	perspective: 50rem;
	margin: 0 0 0 0;

	.card-content {
		transition: transform 1s;
		transform-style: preserve-3d;

		.card-front,
		.card-back {
			@include centered-h;
			@include card-style (calc(30vh));
			backface-visibility: hidden;
			cursor: pointer;
			margin: 2rem;
			padding: 2rem;
			text-align: center;

			@include phone-only {
				@include card-style(calc(35vh));
			}
		}

		.card-front {
			border-radius: 3rem 0 3rem 0;
		}

		.card-back {
			transform: rotateY(180deg);
			margin: calc(-100% + 2rem) 0 0 2rem;
			border-radius: 0 3rem 0 3rem;
		}
	}
}

.card.flipped {
	.card-content {
		transform: rotateY(-180deg);
		transition: transform 0.5s;
	}
}

.card:nth-child(1n) {
	.card-back,
	.card-front {
		background-color: $blue-stickynote;
	}
}

.card:nth-child(2n) {
	.card-back,
	.card-front {
		background-color: $green-stickynote;
	}
}

.card:nth-child(3n) {
	.card-back,
	.card-front {
		background-color: $yellow-stickynote;
	}
}

.card:nth-child(4n) {
	.card-back,
	.card-front {
		background-color: $orange-stickynote;
	}
}

.card:nth-child(5n) {
	.card-back,
	.card-front {
		background-color: $pink-stickynote;
	}
}