@import '../../variables.scss';

.main.create-card-container {
	position: relative;

	@include thin-scroll-bar();
	
	@include phone-only {
		@include no-scroll-bar();
		padding: 1rem 0 25vh 0;
	}

	.error-message {
		font-size: 1.5rem;
		margin-bottom: -2vh;
	}

	.create-card-form {
		@include centered-h;
		
		@include tablet-landscape-down {
			flex-direction: column;
		}

		@include phone-only {
			justify-content: space-between;
			min-height: 70vh;
			padding-top: 4vh;
		}

		.question,
		.answer {
			margin: 0 3rem 0 3rem;
		}

		.question > .question-card,
		.answer > .answer-card {
			@include card-style (calc(50vh), calc(50vh));
			padding:  0.5rem 1rem;
			background-color: $blue-stickynote;
			border-radius: 0 3rem 0 3rem;

			@include tablet-landscape-down {
				@include card-style (calc(27.5vh), calc(27.5vh));
			}

			textarea {
				font-size: 2rem;
				height: 100%;
				width: 100%;
				background-color: $blue-stickynote;
				border: none;
				outline: none;
				padding: 1rem 0.5rem 1rem 0.5rem;
			}
		}

		.answer > .answer-card {
			@include tablet-landscape-down {
				margin: 2rem 0 1rem 0;
			}
		}

		.form-buttons-container {
			@include centered-h;

			.form-icon {
				height: 6vh;
				filter: opacity(55%);
				transition: all ease 0.25s;
				margin:  0 2rem;

				@include phone-only {
					height: 5.5vh;
				}
			}

			.form-icon:hover {
				filter: opacity(75%);
			}

			.form-icon.cancel {
				height: 5vh;

				@include phone-only {
					height: 4.5vh;
				}
			}
		}
	}
}
