@import '../../variables.scss';

.create-card-form {
	@include centered-h;

	@include phone-only {
		margin: 0 0 25vh 0;
		flex-direction: column;
	}

	.question,
	.answer {
		margin: 0 3rem 0 3rem;

		h3 {
			font-size: 3rem;
			color: $pencil-light;
			text-align: center;
		}
	}

	.question > .question-card,
	.answer > .answer-card {
		@include card-style (calc(50vh));
		padding:  0.5rem 1rem;
		background-color: $blue-stickynote;

		@include tablet-landscape-down {
			@include card-style (calc(30vh));
			margin-bottom: 5vh;
		}

		textarea {
			font-size: 2rem;
			height: 100%;
			width: 100%;
			background-color: $blue-stickynote;
			border: none;
			outline: none;
			padding: 1rem 0.5rem 1rem 0.5rem;
		}
	}

	.form-buttons-container {
		@include centered-h;

		.form-icon {
			height: 6vh;
			filter: opacity(55%);
			transition: all ease 0.25s;
			margin:  0 2rem;

			@include phone-only {
				height: 5.5vh;
			}
		}

		.form-icon:hover {
			filter: opacity(75%);
		}

		.form-icon.cancel {
			height: 5vh;

			@include phone-only {
				height: 4.5vh;
			}
		}
	}
}