@import '../../variables.scss';

.page.view-cards-page {
	.main.view-cards-container {
		position: relative;
		@include centered-h;
		flex-wrap: wrap;
		margin: 1.5rem 0.5rem 0.5rem 0;
		padding: 0 0 5rem 0;
		overflow: auto;
		@include thin-scroll-bar();

		@include phone-only {
			@include no-scroll-bar();
		}

		.card-list-controls {
			position: absolute;
			top: 1.5rem;
			left: 0.5rem;
			right: 0.5rem;
			@include centered-h;

			@include phone-only {
				top: 0.5rem;
			}

			.control-icon {
				height: 8vh;
				filter: opacity(55%);
				transition: all ease 0.25s;

				@include phone-only {
					height: 5vh;
				}
			}

			.control-icon:hover {
				filter: opacity(75%);
			}
		}
	}
}