@import '../../variables.scss';

.create-card-form {
  @include centered-v;
  height: 30vh;
  width: calc(60vh);
  padding: 1.5rem;
  margin: 1rem;
  background-color: rgb(170, 205, 205);
  box-shadow: rgba(50, 50, 50, 0.15) 0.1rem 0.1rem 0.1rem,
							inset rgba(75, 75, 75, 0.06) 0.1rem 0.1rem 0.1rem;
							
	input {
		width: 70%;
		font-size: 1.6rem;
		padding: 1vh 3vw 1vh 3vw;
		margin: 1vh 0 1vh 0;
	}

	.submit-button {
		text-align: center;
		background-color: $primary-color;
		color: white;
		font-weight: 600;
		text-transform: uppercase;
		font-size: 1.4rem;
		border-radius: 1.5rem;
		cursor: pointer;
	}

	.cancel-edit-button {
		margin: 1.6rem 0 0 0;
		background-color: rgb(255, 150, 150);
		color: rgb(100, 0, 0);
		border-radius: 1.5rem;
		font-size: 2vw;
		cursor: pointer;
	}
}