@import '../../../variables.scss';

.forgotten-password {
  @include centered-v;

  p {
    margin-bottom: 2rem;
    @include font-quicksand;
    text-align: center;
    font-size: 1.75rem;
    width: 80vw;
    max-width: 30rem;
  }

  input:-webkit-autofill,
	input:-webkit-autofill:hover, 
	input:-webkit-autofill:focus,
	input:-internal-autofill-selected,
	input {
		@include input-style;
		width: 50vw;
		max-width: 45rem;
	}

  .send-button {
		@include submit-button;
    font-size: 2rem;
	}

  .send-button.disabled {
    background: url('../../../assets/svg/sketch-style/doodle-rectangle.svg'), $pencil-extra-light;
    box-shadow: $pencil-extra-light 0.3rem 0.1rem 0.3rem,
                $pencil-extra-light -0.2rem -0.3rem 0.3rem;
  }

  .error-message {
    color: $pen-red;
  }

  .status-message,
  .error-message {
    @include font-shadow-into-light;
    font-size: 2.25rem;
    font-weight: 800;
  }
}