@import '../../variables.scss';

.menu-button {
  @include centered-v;
  margin: calc(3vw) 0 calc(3vw) 0;

  .menu-bar {
    width: 20px;
    height: 3px;
    background-color: white;
    border-radius: 15px;
    margin: 0 0 4px 0;
  }

  .menu-bar:last-child {
    margin: 0;
  }
}