@import '../variables.scss';

.app-background-container {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	z-index: 0;
	background: rgb(255, 250, 235);

	.holes-contianer {
		position: fixed;
		top: 0;
		left: 0;
		width: calc(10vh);
		min-height: 100vh;
		padding: 5vh 0 0 0;
		@include center-spaced-v;
		border-right: solid rgba(205, 0, 50, .5) 2px;
		
		.punch-hole {
			z-index: 1;
			height: 4vh;
			width: calc(4vh);
			border-radius: 100%;
			background-color: rgb(75, 75, 100);
			box-shadow: inset rgba(0, 0, 0, 0.65) 2px 2px 3px,
									inset rgb(255, 250, 235) 2px 2px 1px,
									inset rgba(0, 0, 0, 0.65) 3px 3px 3px,
									inset rgb(255, 250, 235) 3px 3px 1px,
									inset rgba(0, 0, 0, 0.65) 4px 4px 3px,
									inset rgb(255, 250, 235) 4px 4px 1px,
									inset rgba(0, 0, 0, 0.65) 5px 5px 3px,
									inset rgb(255, 250, 235) 5px 5px 1px;
		}
	}

	.blue-lines-container {
		position: fixed;
		top: 12vh;
		left: 0;
		bottom: 0;
		right: 0;
		@include center-spaced-v;
	
		.blue-line {
			width: 100vw;
			border-bottom: solid rgba(0, 150, 200, 0.5) 1px;
		}

		.blue-line:first-child {
			border-top: solid rgba(0, 150, 200, 0.5) 2px;
		}
	}
}