@import "../helpers/styles";

.modal-container {
  @include nakedButton;
  @include fullscreen-fixed;
  height: 100vh;
  @include centered-v;
  z-index: 30;
  background-color: rgba(0, 0, 0, 0.2);
  outline: none;
  cursor: pointer;

  dialog {
    margin: auto auto;
    width: 40vw;
    background-color: $paper;
    box-shadow: $pencil-extra-light 0.2rem 0.2rem 1rem;

    p {
      font-size: 2rem;
      @include font-indie-flower;
    }
  }
}