@import "../helpers/styles";

.navbar-container {
  grid-column: 3;
  grid-row: 1;
  margin: auto 1rem auto 0;
  width: 100%;
  height: $header-height;
  @include centered-h;
  transition: 0.5s all ease;
  z-index: 10;

  a > button, 
  .menu-button {
    @include nakedButton;
    @include centered-v;
    cursor: pointer;
    
    .nav-icon {
      height: 3rem;

      @include phone-only {
        height: 4vh;
      }
    }
  }
}